[submodule "mods/htbaapub.mod/rackspacecloudfiles.mod"]
	path = mods/htbaapub.mod/rackspacecloudfiles.mod
	url = git://github.com/Htbaa/rackspacecloudfiles.mod.git
[submodule "mods/htbaapub.mod/rest.mod"]
	path = mods/htbaapub.mod/rest.mod
	url = git://github.com/Htbaa/rest.mod.git
